Repository CoreWCF/CoreWCF: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

azure-pipelines-ci.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      solutions: $(_solutions)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/TestTemplatesStage.yml
  - template: templates/CodeAnalysis.yml
    parameters:
      solutions: $(_solutions)
  ...

azure-pipelines-templates.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      solutions: $(_solutions)
  - template: templates/TestTemplatesStage.yml

azure-pipelines.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      solutions: $(_solutions)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/CodeAnalysis.yml
    parameters:
      solutions: $(_solutions)
      testProjects: $(_testProjects)

Fix repository's NuGet.config path in Prepare-Run.ps1
  src/CoreWCF.Templates/Prepare-Run.ps1
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Drop path condition in temapltes pipeline
  azure-pipelines-templates.yml
Due: azure-pipelines.yml

Update xunit and drop Meziantou.Xunit.ParallelTestFramework
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Use MSBuildProjectExtension to detect C# project
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.targets
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Relocate TestTemplates stage in the PR pipeline to ease pipeline maintenance and prevent silent break of the pipelines
  azure-pipelines-ci.yml
  azure-pipelines-templates.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix Templates pipeline (#1379)
  azure-pipelines-ci.yml
  azure-pipelines-templates.yml
  azure-pipelines.yml
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.targets
  src/CoreWCF.Templates/Prepare-Run.ps1
  src/CoreWCF.Templates/src/templates/Directory.Build.props
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

Null check address before updating uri with it
  src/CoreWCF.WebHttp/src/CoreWCF/OpenApi/OpenApiSchemaBuilder.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix #1382
  src/CoreWCF.Http/tests/RegressionTests/Issue1382Test.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/InvokerUtil.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix #1382 (#1386)
  src/CoreWCF.Http/tests/RegressionTests/Issue1382Test.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/InvokerUtil.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add multiple Kafka topic subscription using regex support (#1290)
  src/CoreWCF.Kafka.Client/src/CoreWCF/ServiceModel/Channels/Helpers/KafkaChannelHelpers.cs
  src/CoreWCF.Kafka.Client/src/CoreWCF/ServiceModel/Channels/KafkaOutputChannel.cs
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaMessageContext.cs
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
  src/CoreWCF.Kafka/tests/Helpers/MultipleTopicsIntegrationTest.cs
  src/CoreWCF.Kafka/tests/RegexSubscriptionTests.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/Common/QueueMessageContext.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add Http UT w and w/o generated OperationInvoker
  CoreWCF.sln
  src/CoreWCF.Http/tests/CoreWCF.Http.GeneratedOperationInvokers.Tests.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

apply pr suggestions
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn4.0.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Roslyn4.0.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/DispatchOperationRuntimeHelpers.cs
  templates/TestStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enable CoreWCFOperationInvoker in CoreWCF.Http.Tests
  src/CoreWCF.BuildTools/src/DiagnosticDescriptors.cs
  src/CoreWCF.BuildTools/src/PrivateServiceContractAnalyzer.cs
  src/CoreWCF.BuildTools/tests/PrivateServiceContractAnalyzerTests.cs
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Http/tests/DependencyInjection/KeyedServiceBehaviorTests.cs
  src/CoreWCF.Http/tests/DependencyInjection/KeyedServicesTests.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add OperationInvoker source generator
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn3.11.csproj
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn4.0.csproj
  src/CoreWCF.BuildTools/src/DiagnosticDescriptors.cs
  src/CoreWCF.BuildTools/src/Extensions.cs
  src/CoreWCF.BuildTools/src/Indentor.cs
  src/CoreWCF.BuildTools/src/OperationContractSpec.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Emitter.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.OperationContractSpec.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Parser.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn3.11.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn4.0.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.SourceGenerationSpec.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.OperationContractSpec.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.SourceGenerationSpec.cs
  src/CoreWCF.BuildTools/src/PrivateServiceContractAnalyzer.cs
  src/CoreWCF.BuildTools/src/SourceGenerationSpec.cs
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.BuildTools/tests/OperationInvokerGeneratorTests.cs
  src/CoreWCF.BuildTools/tests/PrivateServiceContractAnalyzerTests.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.Service.cs
  src/CoreWCF.Http/tests/ServiceWithSSMFaultContractTest.cs
  src/CoreWCF.Http/tests/WebApplicationFactoryContentRootAttributes.cs
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.props
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.targets
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/DispatchOperationRuntimeHelpers.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/EnableCoreWCFOperationInvokerGeneratorAttribute.cs
  templates/TestStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add roslyn3.11 missing LanguageNames restriction
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn3.11.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Roslyn3.11.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

clean usings
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn3.11.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn4.0.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

increase test timeout
  templates/TestStage.yml
Due: azure-pipelines.yml

Update OperationInvokerGenerator to handle missing parameters gracefully (#1382)
  src/Common/tests/XunitRunnerConfig/xunit.runner.json
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationInvokerGeneratorTests.cs
  src/CoreWCF.Http/tests/WebApplicationFactoryContentRootAttributes.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Consistently use file scoped namespace in BuildTools src and test projects
  src/CoreWCF.BuildTools/src/DiagnosticDescriptors.cs
  src/CoreWCF.BuildTools/src/Extensions.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Emitter.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Parser.cs
  src/CoreWCF.BuildTools/src/OperationInvokerGenerator.Roslyn4.0.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.OperationContractSpec.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Parser.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Roslyn4.0.cs
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.SourceGenerationSpec.cs
  src/CoreWCF.BuildTools/tests/OperationInvokerGeneratorTests.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add None to show files in solution explorer
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add CoreWCF.Dispatcher.UseGeneratedOperationInvokers AppContext switch
  src/CoreWCF.Http/tests/CoreWCF.Http.GeneratedOperationInvokers.Tests.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Http/tests/UseGeneratedOperationInvokerModuleInitializer.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix unit tests with .NET Fx
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Uncomment MessageCredentialType.IssuedToken for WSHttpBinding
  src/CoreWCF.Primitives/src/CoreWCF/Security/MessageSecurityOverHttp.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add IISExpress launch profile in templates (#1190)
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/dotnetcli.host.json
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/ide.host.json
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/src/templates/CoreWCFService/Properties/launchSettings.json
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Fix WSDL endpoint URLs for multiple services
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceMetadataBehavior.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Drop net7.0 from templates and UT
  Directory.Build.props
  src/CoreWCF.NetNamedPipe/tests/CoreWCF.NetNamedPipe.Tests.csproj
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/tests/BasicTests.cs
  templates/TestStage.yml
  templates/TestTemplatesStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

Drop net7.0 from templates and UT (#1418)
  Directory.Build.props
  src/CoreWCF.NetNamedPipe/tests/CoreWCF.NetNamedPipe.Tests.csproj
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/tests/BasicTests.cs
  templates/TestStage.yml
  templates/TestTemplatesStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

Switch to using attribute named parameter only
  src/CoreWCF.Http/tests/CoreWCF.Http.GeneratedOperationInvokers.Tests.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.targets
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/EnableCoreWCFOperationInvokerGeneratorAttribute.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

defaults EnableCoreWCFOperationInvokerGeneratorto false
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.targets
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-ci.yml: any of: src, but not: src/Samples
  azure-pipelines-templates.yml: any of: src/CoreWCF.Templates
  azure-pipelines.yml: any file but: src/CoreWCF.Templates, CoreWCFTemplates.sln, templates/TestTemplatesStage.yml
