Repository CoreWCF/CoreWCF: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

azure-pipelines-ci.yml:

trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - src/
    exclude:
    - src/Samples/

pr: none

variables:
  _solution: 'src/CoreWCF.sln'
  _libraryProjects: 'src/CoreWCF.*/src/CoreWCF.*.csproj'
  _testProjects: |
    **/CoreWCF.*.Tests.csproj
    !**/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)

- template: templates/TestTemplatesStage.yml
  parameters:
    libraryProjects: $(_libraryProjects)

- template: templates/CodeAnalysis.yml
  parameters:
    testProjects: $(_testProjects)
    solution: $(_solution)

- template: templates/PackStage.yml
  parameters:
    packProjects: $(_libraryProjects)

- template: templates/CodeSignStage.yml

- template: templates/PublishStage.yml

azure-pipelines-templates.yml:

trigger: none

pr:
  branches:
    include:
    - main
    - release/*
    - feature/*
  paths:
    include:
    - src/CoreWCF.Templates/

variables:
  _solution: src/CoreWCF.Templates.sln
  _libraryProjects: src/CoreWCF.Templates/src/CoreWCF.Templates.csproj
  _testProjects: src/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestTemplatesStage.yml
  parameters:
    libraryProjects: $(_libraryProjects)

azure-pipelines.yml:

trigger: none

pr:
  branches:
    include:
    - main
    - release/*
    - feature/*
  paths:
    exclude:
    - src/CoreWCF.Templates/
    - src/CoreWCFTemplates.sln
    - templates/TestTemplatesStage.yml

variables:
  _solution: src/CoreWCF.sln
  _libraryProjects: |
    src/CoreWCF.*/src/CoreWCF.*.csproj
    !src/CoreWCF.Templates/src/CoreWCF.Templates.csproj
  _testProjects: |
    **/CoreWCF.*.Tests.csproj
    !**/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)

- template: templates/CodeAnalysis.yml
  parameters:
    testProjects: $(_testProjects)
    solution: $(_solution)

Run Templates tests concurrently (#1060)
  src/CoreWCF.Templates/tests/.cs
  src/CoreWCF.Templates/tests/BasicTests.cs
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
  src/CoreWCF.Templates/tests/CoreWCFTemplatesCollection.cs
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Drop ServiceAuthorizationBehaviorFactory
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceAuthorizationBehaviorFactory.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelServiceCollectionExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceDescription.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

fix missing argument for SR.SendToViaTimedOut template
  src/Common/src/DuplexChannels/CoreWCF/Channels/TransportDuplexSessionChannel.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Public WindowsClaimSet and add Unit test
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
  src/CoreWCF.NetTcp/tests/ServiceContract/IDuplexTestService.cs
  src/CoreWCF.NetTcp/tests/Services/DuplexTestService.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Claims/WindowsClaimSet.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Public ServiceCredentialsSecurityTokenManager and add Unit test
  src/CoreWCF.Http/tests/BasicHttpTransportMessage.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/ServiceCredentialsSecurityTokenManager.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix ServiceAuthorizationBehavior lifetime to enable override per registered Service (#1119)
  src/CoreWCF.Http/tests/Issue1114Tests.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelApplicationBuilderExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelServiceCollectionExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceDescription.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Create stale.yml (#1082)
  .github/workflows/stale.yml
Due: azure-pipelines.yml

Update CustomXunitAttributes.cs
  src/Common/UnitTests.Common/CustomXunitAttributes.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add custom Xunit attributes
  src/Common/UnitTests.Common/CustomXunitAttributes.cs
  src/CoreWCF.ConfigurationManager/tests/WSHttpBindingTests.cs
  src/CoreWCF.Http/tests/HttpSysTests.cs
  src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs
  src/CoreWCF.Metadata/tests/WSHttpBindingTest.cs
  src/CoreWCF.Metadata/tests/XmlSerializableTests.cs
  src/CoreWCF.NetTcp/tests/ConnectionHandlerBufferedModeTests.cs
  src/CoreWCF.NetTcp/tests/ConnectionHandlerStreamedModeTests.cs
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
  src/CoreWCF.NetTcp/tests/ServiceAuthBehaviorTest.cs
  src/CoreWCF.NetTcp/tests/TransportFrameworkTests.cs
  src/CoreWCF.RabbitMQ/tests/IntegrationTests.cs
  templates/TestStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix misattributed tests
  src/CoreWCF.Http/tests/HttpSysTests.cs
  src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix HostedServiceDuplexWindowsClaimSetEcho
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add custom xunit attributes (#1062)
  src/Common/UnitTests.Common/CustomXunitAttributes.cs
  src/CoreWCF.ConfigurationManager/tests/WSHttpBindingTests.cs
  src/CoreWCF.Http/tests/HttpSysTests.cs
  src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs
  src/CoreWCF.Metadata/tests/WSHttpBindingTest.cs
  src/CoreWCF.Metadata/tests/XmlSerializableTests.cs
  src/CoreWCF.NetTcp/tests/ConnectionHandlerBufferedModeTests.cs
  src/CoreWCF.NetTcp/tests/ConnectionHandlerStreamedModeTests.cs
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
  src/CoreWCF.NetTcp/tests/ServiceAuthBehaviorTest.cs
  src/CoreWCF.NetTcp/tests/TransportFrameworkTests.cs
  src/CoreWCF.RabbitMQ/tests/IntegrationTests.cs
  templates/TestStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Drop RabbitMQ ServiceCollectionExtension method
  src/CoreWCF.RabbitMQ/src/CoreWCF/Configuration/ServiceCollectionExtension.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Make stale gh action only process issues labeled with 'Needs more info'
  .github/workflows/stale.yml
Due: azure-pipelines.yml

Make stale gh action only process issues labeled with 'Needs more info' (#1128)
  .github/workflows/stale.yml
Due: azure-pipelines.yml

Cleanup test code
  src/CoreWCF.Http/tests/Authorization/AuthorizationTests.cs
  src/CoreWCF.Http/tests/BasicHttpBindingPropertyTests.cs
  src/CoreWCF.Http/tests/BasicHttpTransportMessage.cs
  src/CoreWCF.Http/tests/Helpers/ArrayDataContract.cs
  src/CoreWCF.Http/tests/Helpers/ClassDataContract.cs
  src/CoreWCF.Http/tests/Helpers/CommonUtility.cs
  src/CoreWCF.Http/tests/Helpers/DataContract.cs
  src/CoreWCF.Http/tests/Helpers/DataMember.cs
  src/CoreWCF.Http/tests/Helpers/EnumDataContract.cs
  src/CoreWCF.Http/tests/Helpers/PrimitiveDataContract.cs
  src/CoreWCF.Http/tests/HttpClientTests.cs
  src/CoreWCF.Http/tests/HttpContextTests.cs
  src/CoreWCF.Http/tests/MessageEncodingTests.cs
  src/CoreWCF.Http/tests/ServiceContract/CommonTypes.cs
  src/CoreWCF.Http/tests/ServiceContract/TestTypes.cs
  src/CoreWCF.Http/tests/ServiceContract/TypesWithDCInheritance.cs
  src/CoreWCF.Http/tests/ServiceContract/TypesWithDataContractEvents.cs
  src/CoreWCF.Http/tests/Services/SM_767311Service.cs
  src/CoreWCF.Http/tests/Services/SanityAParentB_857419_Service.cs
  src/CoreWCF.Http/tests/Services/TestFaultContractName1Service.cs
  src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelApplicationBuilderExtensions.cs
  src/CoreWCF.Primitives/tests/Helpers/MessageTestUtilities.cs
  src/CoreWCF.RabbitMQ/tests/TestService.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Clean MSMQ / drop AddServiceModelMsmqSupport
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/DeadLetterQueueSender.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/IDeadLetterQueueMsmqSender.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/MsmqQueueTransport.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/MsmqReceiveContext.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Configuration/ServiceCollectionExtension.cs
  src/CoreWCF.MSMQ/tests/IntegrationTests.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/IDeadLetterQueueSender.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Drop RabbitMQ ServiceCollectionExtension method (#1127)
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/DeadLetterQueueSender.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/IDeadLetterQueueMsmqSender.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/MsmqQueueTransport.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Channels/MsmqReceiveContext.cs
  src/CoreWCF.MSMQ/src/CoreWCF/Configuration/ServiceCollectionExtension.cs
  src/CoreWCF.MSMQ/tests/IntegrationTests.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/IDeadLetterQueueSender.cs
  src/CoreWCF.RabbitMQ/src/CoreWCF/Configuration/ServiceCollectionExtension.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Use useUniqueConnectionPoolPerFactory in http UT
  src/CoreWCF.Http/tests/App.config
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Set ServicePointManager.MaxServicePointIdleTime to 30s
  src/CoreWCF.Http/tests/Program.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Publish a dump when UT is hanging
  templates/TestStage.yml
Due: azure-pipelines.yml

Decrease MaxServicePointIdleTime to 5s
  src/CoreWCF.Http/tests/Program.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Use to find TestResults folder
  templates/TestStage.yml
Due: azure-pipelines.yml

Add continueOnErrot to dotnet test
  templates/TestStage.yml
Due: azure-pipelines.yml

Add failed() condition to publish dump step
  templates/TestStage.yml
Due: azure-pipelines.yml

atempto to pick the dump if any
  templates/TestStage.yml
Due: azure-pipelines.yml

set MinRequestBodyDataRate to null
  src/CoreWCF.Http/tests/Helpers/ServiceHelper.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

incorporated feedback
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/Saml2SecurityToken.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlNameIdentifierClaimResource.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlSecurityToken.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Only run CoreWCF.Http.Tests
  azure-pipelines.yml
Due: azure-pipelines.yml

making the API public for SamlSecurityToken (#1074)
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/Saml2SecurityToken.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlNameIdentifierClaimResource.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlSecurityToken.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add EnforceExtendedAnalyzerRules to CoreWCF.BuildTools.*
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn3.11.csproj
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn4.0.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Restore sequential UT in CoreWCF.Http.Tests
  Directory.Build.props
  Directory.Build.targets
  src/Common/tests/XunitTestAssemblyAttribute.NoConcurrencyNetFxOnly.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Restore sequential UT in CoreWCF.Http.Tests (#1146)
  Directory.Build.props
  Directory.Build.targets
  src/Common/tests/XunitTestAssemblyAttribute.NoConcurrencyNetFxOnly.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enable the stale workflow
  .github/workflows/stale.yml
Due: azure-pipelines.yml

Add SonarCloud GHA
  .github/workflows/sonarcloud.yml
Due: azure-pipelines.yml

initial commit
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/RsaSecurityKey.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SessionSecurityToken.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/X509AsymmetricSecurityKey.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/SctClaimSerializer.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Make it easy to locally host SourceBrowser for CoreWCF
  src/SourceWebsite/.gitignore
  src/SourceWebsite/SourceWebsite.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fixed: Calling OperationContext.Current before the host started
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/MessageRpc.cs
  src/CoreWCF.Primitives/src/CoreWCF/OperationContext.cs
  src/CoreWCF.Primitives/tests/CoreWCF.Primitives.Tests.csproj
  src/CoreWCF.Primitives/tests/OperationContextTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Removed unused using statements
  src/CoreWCF.Primitives/tests/OperationContextTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml
