Repository CoreWCF/CoreWCF: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

azure-pipelines-ci.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/TestTemplatesStage.yml
    parameters:
      libraryProjects: $(_libraryProjects)
  ...

azure-pipelines-templates.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestTemplatesStage.yml
    parameters:
      libraryProjects: $(_libraryProjects)

azure-pipelines.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/CodeAnalysis.yml
    parameters:
      testProjects: $(_testProjects)
      solution: $(_solution)

Fix CoreWCF.Templates ps scripts to use current runtime code while unit testing the templates
  src/CoreWCF.Templates/Clean-Run.ps1
  src/CoreWCF.Templates/Prepare-Run.ps1
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Update docs (#1216)
  Documentation/Testing.md
  Documentation/Walkthrough.md
  README.md
Due: azure-pipelines.yml

Fix ambiguous UseServiceModel (#1235)
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.props
  src/CoreWCF.Primitives/src/CoreWCFWebApplicationExtensions.cs
  src/CoreWCF.Templates/Clean-Run.ps1
  src/CoreWCF.Templates/Prepare-Run.ps1
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

Use expressions to build InvokeDelegate (#1218)
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/InvokerUtil.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/OperationInvokerBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/SyncMethodInvoker.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/TaskMethodInvoker.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Place code generated by OperationParameterInjector source generator in a short fixed filename
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add // <auto-generated /> and #disable nullable
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Update README.md
  README.md
Due: azure-pipelines.yml

Update README.md (#1243)
  README.md
Due: azure-pipelines.yml

Add missing #nullable restore
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Update auto-generated comment content
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enhance offset commit handling when using AtLeastOnce semantic
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaReceiveContext.cs
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
  src/CoreWCF.Kafka/tests/Helpers/IntegrationTest.cs
  src/CoreWCF.Kafka/tests/Helpers/KafkaEx.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix PathTooLongException in OperationParameterInjectorGenerator (#1240)
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Apply PR suggestions
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Changes for CoreWCF UDS
  src/CoreWCF.UnixDomainSocket/src/CoreWCF.UnixDomainSocket.csproj
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/Channels/UnixDomainSocketHostedService.cs
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/UnixDomainSocketBinding.cs
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/UnixDomainSocketClientCredentialType.cs
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/UnixDomainSocketSecurity.cs
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/UnixDomainSocketSecurityMode.cs
  src/CoreWCF.UnixDomainSocket/src/CoreWCF/UnixDomainSocketTransportSecurity.cs
  src/CoreWCF.UnixDomainSocket/src/Resources/Strings.resx
  src/CoreWCF.UnixDomainSocket/tests/BasicTest.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Ensure offsets are committed and stored in correct order
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaReceiveContext.cs
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
  src/CoreWCF.Kafka/tests/Helpers/IntegrationTest.cs
  src/CoreWCF.Kafka/tests/Helpers/KafkaEx.cs
  src/CoreWCF.Kafka/tests/KafkaSemanticsTests.cs
  src/CoreWCF.Kafka/tests/Services/TestService.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Use less agressive locking strategy in TopicPartitionOffsetTracker
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enhance offset commit handling when using AtLeastOnce semantic (#1260)
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaReceiveContext.cs
  src/CoreWCF.Kafka/src/CoreWCF/Channels/KafkaTransportPump.cs
  src/CoreWCF.Kafka/tests/Helpers/IntegrationTest.cs
  src/CoreWCF.Kafka/tests/Helpers/KafkaEx.cs
  src/CoreWCF.Kafka/tests/KafkaSemanticsTests.cs
  src/CoreWCF.Kafka/tests/Services/TestService.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Bump version to 1.5.0 for release
  version.json
Due: azure-pipelines.yml

Update dependency versions
  Directory.Build.props
  src/Common/UnitTests.Common/UnitTests.Common.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.ConfigurationManager/tests/CoreWCF.ConfigurationManager.Tests.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Kafka.Client/src/CoreWCF.Kafka.Client.csproj
  src/CoreWCF.Kafka/src/CoreWCF.Kafka.csproj
  src/CoreWCF.Kafka/tests/CoreWCF.Kafka.Tests.csproj
  src/CoreWCF.MSMQ/tests/CoreWCF.MSMQ.Tests.csproj
  src/CoreWCF.Metadata/tests/CoreWCF.Metadata.Tests.csproj
  src/CoreWCF.NetNamedPipe/tests/CoreWCF.NetNamedPipe.Tests.csproj
  src/CoreWCF.NetTcp/tests/CoreWCF.NetTcp.Tests.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/tests/CoreWCF.Primitives.Tests.csproj
  src/CoreWCF.Queue/tests/CoreWCF.Queue.Tests.csproj
  src/CoreWCF.RabbitMQ.Client/src/CoreWCF.RabbitMQ.Client.csproj
  src/CoreWCF.RabbitMQ/src/CoreWCF.RabbitMQ.csproj
  src/CoreWCF.RabbitMQ/tests/CoreWCF.RabbitMQ.Tests.csproj
  src/CoreWCF.UnixDomainSocket/tests/CoreWCF.UnixDomainSocket.Tests.csproj
  src/CoreWCF.WebHttp/tests/CoreWCF.WebHttp.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Update release guide
  Documentation/release-guide.md
Due: azure-pipelines.yml

Fix breakage caused by xunit change, see https://github.com/xunit/xunit/issues/2808
  src/CoreWCF.Http/tests/RegressionTests/Issue1070Test.cs
  src/CoreWCF.Primitives/tests/ErrorHandling/ExceptionHandling.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-ci.yml: any of: src, but not: src/Samples
  azure-pipelines-templates.yml: any of: src/CoreWCF.Templates
  azure-pipelines.yml: any file but: src/CoreWCF.Templates, src/CoreWCFTemplates.sln, templates/TestTemplatesStage.yml
