Repository CoreWCF/CoreWCF: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

azure-pipelines-ci.yml:

trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - src/
    exclude:
    - src/Samples/

pr: none

variables:
  _solution: 'src/CoreWCF.sln'
  _libraryProjects: 'src/CoreWCF.*/src/CoreWCF.*.csproj'
  _testProjects: |
    **/CoreWCF.*.Tests.csproj
    !**/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)

- template: templates/TestTemplatesStage.yml
  parameters:
    libraryProjects: $(_libraryProjects)

- template: templates/CodeAnalysis.yml
  parameters:
    testProjects: $(_testProjects)
    solution: $(_solution)

- template: templates/PackStage.yml
  parameters:
    packProjects: $(_libraryProjects)

- template: templates/CodeSignStage.yml

- template: templates/PublishStage.yml

azure-pipelines-templates.yml:

trigger: none

pr:
  branches:
    include:
    - main
    - release/*
    - feature/*
  paths:
    include:
    - src/CoreWCF.Templates/

variables:
  _solution: src/CoreWCF.Templates.sln
  _libraryProjects: src/CoreWCF.Templates/src/CoreWCF.Templates.csproj
  _testProjects: src/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestTemplatesStage.yml
  parameters:
    libraryProjects: $(_libraryProjects)

azure-pipelines.yml:

trigger: none

pr:
  branches:
    include:
    - main
    - release/*
    - feature/*
  paths:
    exclude:
    - src/CoreWCF.Templates/
    - src/CoreWCFTemplates.sln
    - templates/TestTemplatesStage.yml

variables:
  _solution: src/CoreWCF.sln
  _libraryProjects: |
    src/CoreWCF.*/src/CoreWCF.*.csproj
    !src/CoreWCF.Templates/src/CoreWCF.Templates.csproj
  _testProjects: |
    **/CoreWCF.*.Tests.csproj
    !**/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)

- template: templates/CodeAnalysis.yml
  parameters:
    testProjects: $(_testProjects)
    solution: $(_solution)

Update AnalyzerReleases files for release
  src/CoreWCF.BuildTools/src/AnalyzerReleases.Shipped.md
  src/CoreWCF.BuildTools/src/AnalyzerReleases.Unshipped.md
Due: azure-pipelines-ci.yml, azure-pipelines.yml

drop netcoreapp3.1 from CoreWCF.Templates
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/tests/BasicTests.cs
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
  templates/TestTemplatesStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Update package versions
  Directory.Build.props
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.ConfigurationManager/src/CoreWCF.ConfigurationManager.csproj
  src/CoreWCF.ConfigurationManager/tests/CoreWCF.ConfigurationManager.Tests.csproj
  src/CoreWCF.Http/src/CoreWCF.Http.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Metadata/tests/CoreWCF.Metadata.Tests.csproj
  src/CoreWCF.NetTcp/src/CoreWCF.NetTcp.csproj
  src/CoreWCF.NetTcp/tests/CoreWCF.NetTcp.Tests.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/tests/CoreWCF.Primitives.Tests.csproj
  src/CoreWCF.WebHttp/src/CoreWCF.WebHttp.csproj
  src/CoreWCF.WebHttp/tests/CoreWCF.WebHttp.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Update release guide instructions
  Documentation/release-guide.md
Due: azure-pipelines.yml

Remove netcoreapp3.1 tests, fix a couple of package version issues
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.ConfigurationManager/tests/CoreWCF.ConfigurationManager.Tests.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Metadata/tests/CoreWCF.Metadata.Tests.csproj
  src/CoreWCF.NetTcp/src/CoreWCF.NetTcp.csproj
  src/CoreWCF.NetTcp/tests/CoreWCF.NetTcp.Tests.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/tests/CoreWCF.Primitives.Tests.csproj
  src/CoreWCF.WebHttp/tests/CoreWCF.WebHttp.Tests.csproj
  templates/TestStage.yml
  templates/TestTemplatesStage.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

drop netcoreapp3.1 from CoreWCF.Templates
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/tests/BasicTests.cs
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Set version to '1.4.0-alpha.{height}'
  version.json
Due: azure-pipelines.yml

Set version to '1.3.0'
  version.json
Due: azure-pipelines.yml

Add authorization support to binding derived from WebHttpBinding
  src/CoreWCF.Http/src/CoreWCF/Channels/HttpTransportBindingElement.cs
  src/CoreWCF.WebHttp/tests/Authorization/AuthorizationTests.cs
  src/CoreWCF.WebHttp/tests/Helpers/ServiceHelper.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix non authenticated requests reaching service implementation
  src/CoreWCF.Http/src/CoreWCF/Channels/AspNetCoreReplyChannel.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.Service.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.Startup.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.WebApplicationFactory.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Clean code
  src/CoreWCF.Http/src/CoreWCF/Channels/AspNetCoreReplyChannel.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Bump version to v1.3.1
  version.json
Due: azure-pipelines.yml

Clean loading of dependencies in roslyn unit tests
  src/CoreWCF.BuildTools/tests/CSharpAnalyzerVerifier.cs
  src/CoreWCF.BuildTools/tests/CSharpGeneratorVerifier.cs
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
  src/CoreWCF.BuildTools/tests/ReferenceAssembliesHelper.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enable in memory assembly build for net472 in roslyn unit test
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Use TypedConstant.ToCSharpString() to out put TypedConstant values in source generator
  src/CoreWCF.BuildTools/src/OperationParameterInjectionGenerator.Emitter.cs
  src/CoreWCF.BuildTools/tests/CSharpGeneratorVerifier.cs
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn3.11.Tests.csproj
  src/CoreWCF.BuildTools/tests/CoreWCF.BuildTools.Roslyn4.0.Tests.csproj
  src/CoreWCF.BuildTools/tests/OperationParameterInjectionGeneratorTests.cs
  src/CoreWCF.BuildTools/tests/ReferenceAssembliesHelper.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add authorization support to binding derived from WebHttpBinding (#951)
  src/CoreWCF.Http/src/CoreWCF/Channels/HttpTransportBindingElement.cs
  src/CoreWCF.WebHttp/tests/Authorization/AuthorizationTests.cs
  src/CoreWCF.WebHttp/tests/Helpers/ServiceHelper.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Move NTAuthentication calls to a specific class
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/INTAuthenticationFacade.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthentication.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NegotiateInternalState.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Remove Lazy to avoid first call penalty
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationLegacy.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationNet5.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationNet7.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Call Encrypt using the new signature from net5.0
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationFacade.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationLegacy.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationNet5.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NegotiateInternalState.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Make the facade compatible with the changes in net7.0
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationFacade.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationLegacy.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NTAuthenticationNet7.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Initial Commit of changes for CoreWCF Queue implementation for Azure Storage Queue
  src/CoreWCF.AzureQueueStorage/src/CoreWCF.AzureQueueStorage.csproj
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageBinding.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageConnectionSettings.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageMessageEncoding.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageQueueNameConverter.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageQueueTransport.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/AzureQueueStorageTransportBindingElement.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/CurrentVersion.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Channels/TransportDefaults.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Configuration/ServiceCollectionExtension.cs
  src/CoreWCF.AzureQueueStorage/src/CoreWCF/Runtime/Diagnostics/EtwDiagnosticTrace.cs
  src/CoreWCF.AzureQueueStorage/src/Resources/Strings.resx
  src/CoreWCF.sln
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add IISExpress launch profile in templates
  src/CoreWCF.Http/tests/Authorization/AuthenticationServiceInterceptor.cs
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/dotnetcli.host.json
  src/CoreWCF.Templates/src/templates/CoreWCFService/.template.config/template.json
  src/CoreWCF.Templates/src/templates/CoreWCFService/Properties/launchSettings.json
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

Add support of AuthorizationHandler<T> with scoped lifetime
  src/CoreWCF.Http/tests/Authorization/AuthorizationTests.NotSupported.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelServiceCollectionExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/AuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/DispatchRuntime.cs
  src/CoreWCF.Primitives/src/Resources/Strings.resx
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add test to reproduce #947
  src/CoreWCF.Http/tests/Authorization/AuthorizationTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Make ServiceAuthorizationBehavior.AuthorizeService act as a factory
  src/CoreWCF.Http/tests/Authorization/AuthenticationServiceInterceptor.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.WebApplicationFactory.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationIntegrationTests.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationServiceInterceptor.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/AuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/DispatchRuntime.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix AuthN and AuthZ service interceptors
  src/CoreWCF.Http/tests/Authorization/AuthenticationServiceInterceptor.cs
  src/CoreWCF.Http/tests/Authorization/AuthorizationServiceInterceptor.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Make public obsolete api throw and ensure ServiceAuthorizationBehavior is always disposed
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/AuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/DispatchRuntime.cs
  src/CoreWCF.Primitives/src/CoreWCF/ServiceHostBase.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Add property UseSynchronizationContext to class ServiceBehaviorAttribute #668
  src/CoreWCF.NetTcp/tests/CoreWCF.NetTcp.Tests.csproj
  src/CoreWCF.NetTcp/tests/ServiceBehaviorUseSynchronizationContextAsyncTests.cs
  src/CoreWCF.NetTcp/tests/ServiceBehaviorUseSynchronizationContextSyncTests.cs
  src/CoreWCF.Primitives/src/CoreWCF/ServiceBehaviorAttribute.cs
  src/CoreWCF.Primitives/tests/ServiceBehaviorUseSynchronizationContextTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml
