Repository CoreWCF/CoreWCF: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-templates.yml, azure-pipelines.yml

azure-pipelines-ci.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/TestTemplatesStage.yml
    parameters:
      libraryProjects: $(_libraryProjects)
  ...

azure-pipelines-templates.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestTemplatesStage.yml
    parameters:
      libraryProjects: $(_libraryProjects)

azure-pipelines.yml:
  stages:
  - template: templates/BuildStage.yml
    parameters:
      buildProjects: $(_libraryProjects)
  - template: templates/TestStage.yml
    parameters:
      testProjects: $(_testProjects)
  - template: templates/CodeAnalysis.yml
    parameters:
      testProjects: $(_testProjects)
      solution: $(_solution)

Fix queue message neither acked nor nacked
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/ImmutableDispatchRuntime.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/MessageRpc.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/Common/QueueFetchMessage.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/Common/QueueMessageContext.cs
  src/CoreWCF.Queue/src/CoreWCF/Queue/Common/QueuePollingService.cs
  src/CoreWCF.Queue/tests/CoreWCF.Queue.Tests.csproj
  src/CoreWCF.Queue/tests/Helpers/DependencyResolverHelper.cs
  src/CoreWCF.Queue/tests/Helpers/ServiceHelper.cs
  src/CoreWCF.Queue/tests/InMemoryQueue/InMemoryMessageEncoding.cs
  src/CoreWCF.Queue/tests/InMemoryQueue/InMemoryQueueBinding.cs
  src/CoreWCF.Queue/tests/InMemoryQueue/InMemoryQueueTransportBindingElement.cs
  src/CoreWCF.Queue/tests/InMemoryQueue/InMemoryQueueTransportPump.cs
  src/CoreWCF.Queue/tests/InMemoryQueue/InMemoryReceiveContext.cs
  src/CoreWCF.Queue/tests/InMemoryQueueIntegrationTests.cs
  src/CoreWCF.Queue/tests/Services/TestService.cs
  src/CoreWCF.RabbitMQ/tests/CoreWCF.RabbitMQ.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Switch to implicit testing of IsXXXSetExplicitly fix
  src/CoreWCF.WebHttp/src/CoreWCF/Description/WebHttpServiceModelCompat.cs
  src/CoreWCF.WebHttp/src/CoreWCF/Dispatcher/MultiplexingDispatchMessageFormatter.cs
  src/CoreWCF.WebHttp/tests/FrameworkServiceTests.cs
  src/CoreWCF.WebHttp/tests/ServiceContract/IFrameworkService.cs
  src/CoreWCF.WebHttp/tests/Services/FrameworkService.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Switch to PropertyInfo.Name.EndsWith("SetExplicitly") rather than using Regex
  src/CoreWCF.WebHttp/src/CoreWCF/Description/WebHttpServiceModelCompat.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Fix shutdown to cleanup connections for named pipe
  src/CoreWCF.NetNamedPipe/src/CoreWCF/Channels/NamedPipeConnection.cs
  src/CoreWCF.NetNamedPipe/src/CoreWCF/Channels/NamedPipeListener.cs
  src/CoreWCF.NetNamedPipe/tests/CoreWCF.NetNamedPipe.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Updating package versions
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn3.11.csproj
  src/CoreWCF.BuildTools/src/CoreWCF.BuildTools.Roslyn4.0.csproj
  src/CoreWCF.ConfigurationManager/tests/CoreWCF.ConfigurationManager.Tests.csproj
  src/CoreWCF.Http/tests/CoreWCF.Http.Tests.csproj
  src/CoreWCF.Metadata/tests/CoreWCF.Metadata.Tests.csproj
  src/CoreWCF.NetTcp/tests/CoreWCF.NetTcp.Tests.csproj
  src/CoreWCF.Primitives/src/CoreWCF.Primitives.csproj
  src/CoreWCF.Primitives/tests/CoreWCF.Primitives.Tests.csproj
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Issue 1034: WebHttpServiceModelCompat does not handle copy of IsRequestFormatSetExplicitly/IsResponseFormatSetExplicitly correctly
  src/CoreWCF.WebHttp/src/CoreWCF/Description/WebHttpServiceModelCompat.cs
  src/CoreWCF.WebHttp/tests/FrameworkServiceTests.cs
  src/CoreWCF.WebHttp/tests/ServiceContract/IFrameworkService.cs
  src/CoreWCF.WebHttp/tests/Services/FrameworkService.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Set version to '1.4.0'
  version.json
Due: azure-pipelines.yml

Set version string to preview
  version.json
Due: azure-pipelines.yml

Drop UseDefaultConnectionLimitsAttribute
  src/Common/UnitTests.Common/UseDefaultConnectionLimitsAttribute.cs
  src/CoreWCF.Http/tests/AsyncNetAdoptionTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

triger ci build
  src/CoreWCF.Http/tests/AsyncNetAdoptionTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

refactor: clean
  src/CoreWCF.Http/tests/AsyncNetAdoptionTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

clean
  Directory.Build.props
  src/CoreWCF.Http/tests/App.config
  src/CoreWCF.Http/tests/AsyncNetAdoptionTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

making the API Public
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlSecurityToken.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

making the API public
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlSecurityToken.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

making the API public
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Tokens/SamlNameIdentifierClaimResource.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Set version to '1.5.0-alpha.{height}'
  version.json
Due: azure-pipelines.yml

Create stale.yml
  .github/workflows/stale.yml
Due: azure-pipelines.yml

Enable sending of unsecured faults
  src/CoreWCF.Http/tests/ClientContract/IEchoService.cs
  src/CoreWCF.Http/tests/RegressionTests/Issue1070Test.cs
  src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/SecurityServiceDispatcher.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Public WindowsClaimSet and add Unit test
  src/CoreWCF.NetTcp/tests/NetTcpHostedServiceTests.cs
  src/CoreWCF.NetTcp/tests/ServiceContract/IDuplexTestService.cs
  src/CoreWCF.NetTcp/tests/Services/DuplexTestService.cs
  src/CoreWCF.Primitives/src/CoreWCF/IdentityModel/Claims/WindowsClaimSet.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

NetNamedPipe System.ArgumentOutOfRangeException fix
  src/CoreWCF.NetFramingBase/src/CoreWCF/Channels/Framing/ServerSingletonConnectionReaderMiddleware.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

add support on IpV6Any addresses in soap:address location, add support of full external URI in UseRequestHeadersForMetadataAddressBehavior
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceMetadataExtension.cs
  src/CoreWCF.Primitives/src/CoreWCF/ServiceHostObjectModel.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Public ServiceCredentialsSecurityTokenManager and add Unit test
  src/CoreWCF.Http/tests/BasicHttpTransportMessage.cs
  src/CoreWCF.Primitives/src/CoreWCF/Security/ServiceCredentialsSecurityTokenManager.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

fix missing argument for SR.SendToViaTimedOut template
  src/Common/src/DuplexChannels/CoreWCF/Channels/TransportDuplexSessionChannel.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Addressing Version WSAddressingAugust2004 is not supported
  src/CoreWCF.Primitives/src/CoreWCF/EndpointAddress.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

fix: issue 1114
  src/CoreWCF.Http/tests/Issue1114Tests.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceAuthorizationBehaviorFactory.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelServiceCollectionExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Enable pulling from DI and using ConfigureServiceHost to customize ServiceAuthorizationBehavior in the same time
  src/CoreWCF.Http/tests/Issue1114Tests.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceAuthorizationBehaviorFactory.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelApplicationBuilderExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Configuration/ServiceModelServiceCollectionExtensions.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceDescription.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Run Templates tests concurrently
  src/CoreWCF.Templates/tests/.cs
  src/CoreWCF.Templates/tests/BasicTests.cs
  src/CoreWCF.Templates/tests/CoreWCF.Templates.Tests.csproj
  src/CoreWCF.Templates/tests/CoreWCFTemplatesCollection.cs
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Make ServiceAuthorizationBehavior implement ICloneable
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceAuthorizationBehavior.cs
  src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceDescription.cs
Due: azure-pipelines-ci.yml, azure-pipelines.yml

drop Json.NET and implement IXunitSerializable.Deserialize
  src/CoreWCF.Templates/tests/BasicTests.cs
Due: azure-pipelines-ci.yml, azure-pipelines-templates.yml

Path conditions:
  azure-pipelines-ci.yml: any of: src, but not: src/Samples
  azure-pipelines-templates.yml: any of: src/CoreWCF.Templates
  azure-pipelines.yml: any file but: src/CoreWCF.Templates, src/CoreWCFTemplates.sln, templates/TestTemplatesStage.yml
